<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler,
             Autofac.Configuration"/>
    <section name="autofac2" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
    <section name="autofac3" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>
  <autofac defaultAssembly="Ploeh.Samples.MenuModel">
    <components>
      <component type="Ploeh.Samples.MenuModel.Steak" service="Ploeh.Samples.MenuModel.IIngredient"/>
    </components>
  </autofac>
  <autofac2 defaultAssembly="Ploeh.Samples.MenuModel">
    <components>
      <component type="Ploeh.Samples.MenuModel.Steak" service="Ploeh.Samples.MenuModel.IIngredient" instance-scope="single-instance"/>
    </components>
  </autofac2>
  <autofac3>
    <modules>
      <module 
        type="Ploeh.Samples.Menu.Autofac.IngredientModule,
        Ploeh.Samples.Menu.Autofac" />
    </modules>
  </autofac3>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
