<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,
             Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity>
    <namespace name="Ploeh.Samples.MenuModel"/>
    <assembly name="Ploeh.Samples.MenuModel"/>

    <container>
      <register type="IIngredient" mapTo="Steak"/>
    </container>

    <container name="container2">
      <register type="IIngredient" mapTo="Steak">
        <lifetime type="ContainerControlledLifetimeManager"/>
      </register>
    </container>

  </unity>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
