<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="StructureMap" type="StructureMap.Configuration.StructureMapConfigurationSection, StructureMap"/>
  </configSections>
  <StructureMap MementoStyle="Attribute">
    <DefaultInstance PluginType="Ploeh.Samples.MenuModel.IIngredient,
                     Ploeh.Samples.MenuModel" PluggedType="Ploeh.Samples.MenuModel.Steak,
                     Ploeh.Samples.MenuModel"/>
  </StructureMap>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
