<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
    <sectionGroup name="spring">
      <section name="typeAliases" type="Spring.Context.Support.TypeAliasesSectionHandler, Spring.Core"/>
    </sectionGroup>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Server=localhost; Database=ComplexCommerce; Integrated Security=true;"/>
    <add name="CommerceObjectContext" connectionString="metadata=res://*/CommerceModel.csdl|res://*/CommerceModel.ssdl|res://*/CommerceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=ComplexCommerce;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <!-- Castle Windsor configuration -->
  <castle>
    <properties>
      <connString>metadata=res://*/CommerceModel.csdl|res://*/CommerceModel.ssdl|res://*/CommerceModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=.;Initial Catalog=ComplexCommerce;Integrated Security=True;MultipleActiveResultSets=True"</connString>
    </properties>
    <components>
      <component id="commerceControllerFactory" service="System.Web.Mvc.IControllerFactory, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" type="Ploeh.Samples.Commerce.Web.PresentationModel.CommerceControllerFactory, Ploeh.Samples.Commerce.Web.PresentationModel"/>
      <component id="basketDiscountPolicy" service="Ploeh.Samples.Commerce.Domain.BasketDiscountPolicy, Ploeh.Samples.Commerce.Domain" type="Ploeh.Samples.Commerce.Domain.RepositoryBasketDiscountPolicy, Ploeh.Samples.Commerce.Domain"/>
      <component id="productRepository" service="Ploeh.Samples.Commerce.Domain.ProductRepository, Ploeh.Samples.Commerce.Domain" type="Ploeh.Samples.Commerce.Data.Sql.SqlProductRepository, Ploeh.Samples.Commerce.Data.Sql">
        <parameters>
          <connString>#{connString}</connString>
        </parameters>
      </component>
      <component id="basketRepository" service="Ploeh.Samples.Commerce.Domain.BasketRepository, Ploeh.Samples.Commerce.Domain" type="Ploeh.Samples.Commerce.Data.Sql.SqlBasketRepository, Ploeh.Samples.Commerce.Data.Sql">
        <parameters>
          <connString>#{connString}</connString>
        </parameters>
      </component>
      <component id="discountRepository" service="Ploeh.Samples.Commerce.Domain.DiscountRepository, Ploeh.Samples.Commerce.Domain" type="Ploeh.Samples.Commerce.Data.Sql.SqlDiscountRepository, Ploeh.Samples.Commerce.Data.Sql">
        <parameters>
          <connString>#{connString}</connString>
        </parameters>
      </component>
      <component id="basketService" service="Ploeh.Samples.Commerce.Domain.IBasketService, Ploeh.Samples.Commerce.Domain" type="Ploeh.Samples.Commerce.Domain.BasketService, Ploeh.Samples.Commerce.Domain"/>
      <component id="currencyProvider" service="Ploeh.Samples.Commerce.Domain.CurrencyProvider, Ploeh.Samples.Commerce.Domain" type="Ploeh.Samples.Commerce.Data.Sql.SqlCurrencyProvider, Ploeh.Samples.Commerce.Data.Sql">
        <parameters>
          <connString>#{connString}</connString>
        </parameters>
      </component>
    </components>
  </castle>
  <!-- Unity configuration -->
  <unity>
    <assembly name="Ploeh.Samples.Commerce.Domain" />
    <assembly name="Ploeh.Samples.Commerce.Data.Sql" />
    <assembly name="Ploeh.Samples.Commerce.Web" />
    <assembly name="Ploeh.Samples.Commerce.Web.PresentationModel" />
    <namespace name="Ploeh.Samples.Commerce.Domain" />
    <namespace name="Ploeh.Samples.Commerce.Data.Sql" />
    <namespace name="Ploeh.Samples.Commerce.Web.Unity" />
    <namespace name="Ploeh.Samples.Commerce.Web.PresentationModel.Controllers" />
    <container>
      <register type="IBasketService"
                mapTo="BasketService" />
      <register type="BasketDiscountPolicy"
                mapTo="RepositoryBasketDiscountPolicy" />
      <register type="BasketRepository"
                mapTo="SqlBasketRepository">
        <constructor>
          <param name="connString">
            <value value="CommerceObjectContext"
                   typeConverter="ConnectionStringConverter" />
          </param>
        </constructor>
      </register>
      <register type="DiscountRepository"
                mapTo="SqlDiscountRepository">
        <constructor>
          <param name="connString">
            <value value="CommerceObjectContext"
                   typeConverter="ConnectionStringConverter" />
          </param>
        </constructor>
      </register>
      <register type="ProductRepository"
                mapTo="SqlProductRepository">
        <constructor>
          <param name="connString">
            <value value="CommerceObjectContext"
                   typeConverter="ConnectionStringConverter" />
          </param>
        </constructor>
      </register>
      <register type="CurrencyProvider"
                mapTo="SqlCurrencyProvider">
        <constructor>
          <param name="connString">
            <value value="CommerceObjectContext"
                   typeConverter="ConnectionStringConverter" />
          </param>
        </constructor>
      </register>
      <register type="AccountController">
        <constructor />
      </register>
    </container>
  </unity>
  <!-- Spring.NET type aliases. Configuration is in springconfig.xml -->
  <spring>
    <typeAliases>
      <alias name="HomeController" type="Ploeh.Samples.Commerce.Web.PresentationModel.Controllers.HomeController, Ploeh.Samples.Commerce.Web.PresentationModel" />
      <alias name="BasketController" type="Ploeh.Samples.Commerce.Web.PresentationModel.Controllers.BasketController, Ploeh.Samples.Commerce.Web.PresentationModel" />
      <alias name="AccountController" type="Ploeh.Samples.Commerce.Web.PresentationModel.Controllers.AccountController, Ploeh.Samples.Commerce.Web.PresentationModel" />
      <alias name="BasketService" type="Ploeh.Samples.Commerce.Domain.BasketService, Ploeh.Samples.Commerce.Domain" />
      <alias name="RepositoryBasketDiscountPolicy" type="Ploeh.Samples.Commerce.Domain.RepositoryBasketDiscountPolicy, Ploeh.Samples.Commerce.Domain" />
      <alias name="SqlProductRepository" type="Ploeh.Samples.Commerce.Data.Sql.SqlProductRepository, Ploeh.Samples.Commerce.Data.Sql" />
      <alias name="SqlBasketRepository" type="Ploeh.Samples.Commerce.Data.Sql.SqlBasketRepository, Ploeh.Samples.Commerce.Data.Sql" />
      <alias name="SqlDiscountRepository" type="Ploeh.Samples.Commerce.Data.Sql.SqlDiscountRepository, Ploeh.Samples.Commerce.Data.Sql" />
      <alias name="SqlCurrencyProvider" type="Ploeh.Samples.Commerce.Data.Sql.SqlCurrencyProvider, Ploeh.Samples.Commerce.Data.Sql" />
      <alias name="VariablePlaceholderConfigurer" type="Spring.Objects.Factory.Config.VariablePlaceholderConfigurer, Spring.Core" />
      <alias name="ConnectionStringsVariableSource" type="Spring.Objects.Factory.Config.ConnectionStringsVariableSource, Spring.Core" />
    </typeAliases>
  </spring>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
    -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" applicationName="/"/>
      </providers>
    </membership>
    <profile inherits="Ploeh.Samples.Commerce.Web.PresentationModel.UserProfile, Ploeh.Samples.Commerce.Web.PresentationModel">
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </roleManager>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Linq"/>
        <add namespace="System.Collections.Generic"/>
      </namespaces>
    </pages>
    <httpHandlers>
      <add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL"/>
    </httpHandlers>
    <httpModules>
      <add name="PerRequestLifestyle" type="Castle.MicroKernel.Lifestyle.PerWebRequestLifestyleModule, Castle.Windsor"/>
    </httpModules>
  </system.web>
  <system.web.extensions/>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <remove name="MvcHttpHandler"/>
      <remove name="UrlRoutingHandler"/>
      <add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>